.cart {
  background-color: #fff;
  padding: 15px;
  padding-right: 40px;
  max-width: 400px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.cart-container .cart-img {
  width: 80px;
  height: 80px;
}

.cart-container .cart-img img {
  width: 100%;
  height: 100%;
}

.cart-container .cart-content {
  width: 300px;
}

.cart-content .cart-quality {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.cart-quality .cart-icons {
  display: flex;
  align-items: center;
}

.cart-container h1 {
  font-size: 14px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.total {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.displaynone {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}